<html>
<head>
<link rel='stylesheet' href='{{url_for('static',filename='pyvis_resources/vis.css')}}' type='text/css' />
<script type='text/javascript' src='{{url_for('static',filename='pyvis_resources/vis-network.min.js')}}'></script>
<center>
<h1></h1>
</center>

<!-- <link rel="stylesheet" href="../node_modules/vis/dist/vis.min.css" type="text/css" />
<script type="text/javascript" src="../node_modules/vis/dist/vis.js"> </script>-->

<style type="text/css">

        #mynetwork {
            width: 800px;
            height: 800px;
            background-color: #ffffff;
            border: 1px solid lightgray;
            position: relative;
            float: left;
        }

        

        

        
</style>

</head>

<body>
<div id = "mynetwork"></div>


<script type="text/javascript">

    // initialize global variables.
    var edges;
    var nodes;
    var network; 
    var container;
    var options, data;

    
    // This method is responsible for drawing the graph, returns the drawn network
    function drawGraph() {
        var container = document.getElementById('mynetwork');
        
        

        // parsing and collecting nodes and edges from the python
        nodes = new vis.DataSet([{"id": 0, "image": "static/blue/router.svg", "label": "R1", "level": 1, "mass": 1, "physics": false, "shape": "image", "title": "interfaces:"}, {"id": 1, "image": "static/blue/router.svg", "label": "R2", "level": 1, "mass": 1, "physics": false, "shape": "image", "title": "interfaces:"}, {"id": 2, "image": "static/blue/router.svg", "label": "R3", "level": 1, "mass": 1, "physics": false, "shape": "image", "title": "interfaces:"}, {"id": 3, "image": "static/blue/router.svg", "label": "R4", "level": 1, "mass": 1, "physics": false, "shape": "image", "title": "interfaces:"}, {"id": 4, "image": "static/blue/client.svg", "label": "200.10.10.10", "level": 3, "mass": 1, "physics": false, "shape": "image", "title": "Unix-OS 0"}, {"id": 5, "image": "static/blue/client.svg", "label": "200.10.20.10", "level": 3, "mass": 1, "physics": false, "shape": "image", "title": "Unix-OS 3"}]);
        edges = new vis.DataSet([{"from": 0, "title": "10.10.0.0", "to": 1}, {"from": 0, "title": "10.10.0.8", "to": 2}, {"from": 1, "title": "10.10.0.4", "to": 2}, {"from": 2, "title": "10.10.0.12", "to": 3}, {"from": 0, "title": "200.10.10.0/24", "to": 4}, {"from": 3, "title": "200.10.20.0/24", "to": 5}]);

        // adding nodes and edges to the graph
        data = {nodes: nodes, edges: edges};

        var options = {
    "configure": {
        "enabled": false
    },
    "edges": {
        "color": {
            "inherit": true
        },
        "smooth": {
            "enabled": false,
            "type": "continuous"
        }
    },
    "interaction": {
        "dragNodes": true,
        "hideEdgesOnDrag": false,
        "hideNodesOnDrag": false
    },
    "physics": {
        "enabled": true,
        "stabilization": {
            "enabled": true,
            "fit": true,
            "iterations": 1000,
            "onlyDynamicEdges": false,
            "updateInterval": 50
        }
    }
};
        
        

        

        network = new vis.Network(container, data, options);
	 
        


        

        return network;

    }

    drawGraph();

</script>
</body>
</html>